{% load static %}
<nav class="navbar navbar-expand-lg fixed-top navbar-light opacity-80 bg-light mt-3" >
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse show" style="justify-content: center;" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-danger">
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle text-danger fw-bolder m-2" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Albums
                    </a>
                        <ul class="dropdown-menu text-danger fw-normal m-2" aria-labelledby="navbarDropdownMenuLink" >
                            <li><a class="dropdown-item text-danger" href="/mafualbum1/">Kagurairo</a></li>
                            <li><a class="dropdown-item text-danger" href="/mafualbum2/">Ashitairo</a></li>
                            
                        </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger fw-bolder m-2" href="/shop/smartphone/">Smartphone</a>
                </li>
            </ul>
        <a class="navbar-brand fw-bold text-danger fs-3 fw-bolder " href="/shop/">MAFUMAFU</a>
        <a  href="/mafualbum1/"> <img src="https://sdl-stickershop.line.naver.jp/products/0/0/1/1251258/android/stickers/10190741.png"   class="navbar-brand rounded me-3"style="width:50px"/></a>
        <a class="navbar-brand fw-bold text-danger fs-3 fw-bolder " href="/shop/">SHOP</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-danger fw-bolder m-2" href="/shop/laptop/">Laptop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger fw-bolder m-2" href="/shop/console/">Console</a>
                </li>
            </ul>
            <div class="col-3 me-4" style="height:auto; width: auto; ">
                <form class="d-flex">
                    <input class="form-control mx-3" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>    
        </div>
        <div class="social right " id="social-header" style="align-items: center;">
            <a href="https://twitter.com/HafizhMaulana48"><i class="fa fa-twitter m-1 text-danger "></i></a>
            <a href="https://www.youtube.com/channel/UCVMd_AnAEM0GjoifILpzmOA"><i class="fa fa-youtube m-1 text-danger"></i></a>
            <a href=https://www.linkedin.com/in/hafizh-maulana-a265921b0/><i class="fa fa-linkedin m-1 text-danger"></i></a>
            <a href="https://www.facebook.com/hafizh.maulana2/"><i class="fa fa-facebook m-1 text-danger text-center"></i></a>
            <a href="https://github.com/MafuSora/"><i class="fa fa-github m-1 text-danger text-center"></i></a>
            <a href="https://soundcloud.com/sakana-desuyo"><i class="fa fa-soundcloud m-1 text-danger text-center"></i></a>
            <a href="https://soundcloud.com/sakana-desuyo"><i class="fab fa-discord m-1 text-danger text-center"></i></a>
            <a href= "mailto:hafizh.maulana.ub@gmail.com"><i class="fas fa-envelope m-1 text-danger text-center"></i></a>
        </div>
    </div>
    
</nav>