{% load static %}
<header role="banner" class="position-absolute">    
    <!-- Top Navigation -->
    <nav class="background-transparent background-primary-dott full-width">          
        <div class="top-nav"> 
        <!-- mobile version logo -->              
            <div class="logo hide-l hide-xl hide-xxl">
                <a href="/index.html" class="logo">
                    <!-- Logo White Version -->
                    <img class="logo-white" src="/img/logo.bmp" alt="">
                    <!-- Logo Dark Version -->
                    <img class="logo-dark" src="/img/logo.bmp" alt="">
                </a>
            </div>                  
            <div class="nav-text">
                <div class="social right" id="social-header-mobile">
                    <a href="https://twitter.com/HeartCaptureCB"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.youtube.com/channel/UC8mptdKENJipNdS8Ub0AcQQ"><i class="fab fa-youtube"></i></a>
                    <a href="https://discord.gg/5yJn9WMeTt"><i class="fab fa-discord"></i></a>
                </div>
                <div class="mobile-bars">
                    <i class="fa fa-bars"></i>
                </div>
            </div>
            
            <!-- left menu items -->
            <div class="top-nav left-menu">
                <ul class="right top-ul chevron">
                    <li><a href="/index.html">Home</a></li>
                    <li>
                    <a>CB Info</a>
                        <ul>
                            <li><a href="/schedule.html">Schedule</a></li>
                            <li><a href="/rules.html">Rules</a></li>
                            <li><a href="/rubrics.html">Scoring Rubrics</a></li>
                        </ul>
                    </li>
                    <li>
                    <a>Lore</a>
                        <ul>
                        <!-- <li><a href="/story.html">Story</a></li> -->
                        <li><a href="/story.html">Story</a></li>
                        <li><a href="/characters.html">Characters</a></li>
                        <li><a href="/quests.html">Quests</a></li>
                        <li><a href="/items.html">Items</a></li>
                        <li><a href="/events.html">Surprise Events</a></li>
                        <li><a href="/bulletin-board.html">Bulletin Board</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            
            <!-- logo for desktop view -->
            <ul class="logo-menu">
                <a href="/index.html" class="logo">
                <!-- Logo White Version -->
                <img class="logo-white" src="/img/logo.bmp" alt="">
                <!-- Logo Dark Version -->
                <img class="logo-dark" src="/img/logo.bmp" alt="">
                </a>
            </ul>
            
            <!-- right menu items -->
            <div class="top-nav right-menu">
                <ul class="top-ul chevron">
                    <li>
                    <a class="tooltip">Results
                        <!-- <span class="tooltiptext">Don't be hasty getting to know your love interest :P</span> -->
                        <!-- <span class="tooltiptext">Your love interest is having a hard time deciding, be patient with them ^^ </span> -->
                    </a>
                    <ul>
                        <li><a href="/chapter1.html">chapter 1</a></li>
                        <li><a href="/chapter2.html">chapter 2</a></li>
                        <!-- <li><a href="#">chapter 3</a></li> -->
                    </ul>
                    </li>
                    <li><a href="/our-team.html">Our Team</a></li>
                    <li><a href="/faq.html">FAQ</a></li>
                    <li>
                        
                    </li>
                </ul> 
                <div class="social right" id="social-header">
                    <a href="https://twitter.com/HeartCaptureCB"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.youtube.com/channel/UC8mptdKENJipNdS8Ub0AcQQ"><i class="fab fa-youtube"></i></a>
                    <a href="https://discord.gg/5yJn9WMeTt"><i class="fab fa-discord"></i></a>
                </div>
            </div>
            
        </div>
    </nav>
    <button onclick="topFunction();return false" id="back-to-top" title="Back to top"><img src="/img/back_to_top.png" alt="back to top"></button>
</header>