{% load static %}
<header role="banner" class="position-absolute">    
    <!-- Top Navigation -->
    <nav class="background-transparent background-primary-dott full-width">          
        <div class="top-nav"> 
        <!-- mobile version logo -->              
            <div class="logo hide-l hide-xl hide-xxl">
                <a href="/index.html" class="logo">
                    <!-- Logo White Version -->
                    <img class="logo-white" src="/img/logo.bmp" alt="">
                    <!-- Logo Dark Version -->
                    <img class="logo-dark" src="/img/logo.bmp" alt="">
                </a>
            </div>                  
            <div class="nav-text">
                <div class="social right" id="social-header-mobile">
                    <a href="https://twitter.com/HeartCaptureCB"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.youtube.com/channel/UC8mptdKENJipNdS8Ub0AcQQ"><i class="fab fa-youtube"></i></a>
                    <a href="https://discord.gg/5yJn9WMeTt"><i class="fab fa-discord"></i></a>
                </div>
                <div class="mobile-bars">
                    <i class="fa fa-bars"></i>
                </div>
            </div>
            
            <!-- left menu items -->
            <div class="top-nav left-menu">
                <ul class="right top-ul chevron">
                    <li><a href="/index.html">Home</a></li>
                    <li>
                    <a>CB Info</a>
                        <ul>
                            <li><a href="/schedule.html">Schedule</a></li>
                            <li><a href="/rules.html">Rules</a></li>
                            <li><a href="/rubrics.html">Scoring Rubrics</a></li>
                        </ul>
                    </li>
                    <li>
                    <a>Lore</a>
                        <ul>
                        <!-- <li><a href="/story.html">Story</a></li> -->
                        <li><a href="/story.html">Story</a></li>
                        <li><a href="/characters.html">Characters</a></li>
                        <li><a href="/quests.html">Quests</a></li>
                        <li><a href="/items.html">Items</a></li>
                        <li><a href="/events.html">Surprise Events</a></li>
                        <li><a href="/bulletin-board.html">Bulletin Board</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            
            <!-- logo for desktop view -->
            <ul class="logo-menu">
                <a href="/index.html" class="logo">
                <!-- Logo White Version -->
                <img class="logo-white" src="/img/logo.bmp" alt="">
                <!-- Logo Dark Version -->
                <img class="logo-dark" src="/img/logo.bmp" alt="">
                </a>
            </ul>
            
            <!-- right menu items -->
            <div class="top-nav right-menu">
                <ul class="top-ul chevron">
                    <li>
                    <a class="tooltip">Results
                        <!-- <span class="tooltiptext">Don't be hasty getting to know your love interest :P</span> -->
                        <!-- <span class="tooltiptext">Your love interest is having a hard time deciding, be patient with them ^^ </span> -->
                    </a>
                    <ul>
                        <li><a href="/chapter1.html">chapter 1</a></li>
                        <li><a href="/chapter2.html">chapter 2</a></li>
                        <!-- <li><a href="#">chapter 3</a></li> -->
                    </ul>
                    </li>
                    <li><a href="/our-team.html">Our Team</a></li>
                    <li><a href="/faq.html">FAQ</a></li>
                    <li>
                        
                    </li>
                </ul> 
                <div class="social right" id="social-header">
                    <a href="https://twitter.com/HeartCaptureCB"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.youtube.com/channel/UC8mptdKENJipNdS8Ub0AcQQ"><i class="fab fa-youtube"></i></a>
                    <a href="https://discord.gg/5yJn9WMeTt"><i class="fab fa-discord"></i></a>
                </div>
            </div>
            
        </div>
    </nav>
    <button onclick="topFunction();return false" id="back-to-top" title="Back to top"><img src="/img/back_to_top.png" alt="back to top"></button>
</header>


<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle show" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="true">
        Category
    </a>
    <ul class="dropdown-menu show" aria-labelledby="navbarDropdownMenuLink" data-bs-popper="none">
        <li><a class="dropdown-item" href="#">All Product</a></li>
        <li><a class="dropdown-item" href="#">Condoms</a></li>
        <li><a class="dropdown-item" href="#">Lubes</a></li>
        <li><a class="dropdown-item" href="#">Sex Toys</a></li>
    </ul>
</li>



<div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://www.freepngimg.com/thumb/world_of_warcraft/72833-sticker-art-photography-pop-english-explosion-wow.png" width="50">
                </a><a class="navbar-brand fw-bold text-light fs-3" href="#">UNTA SHOP</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        <div class="navbar-collapse collapse show" id="navbarNav" style="">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/home">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Category
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">All Product</a></li>
                        <li><a class="dropdown-item" href="#">Alive</a></li>
                        <li><a class="dropdown-item" href="#">Decoration</a></li>
                        <li><a class="dropdown-item" href="#">Animal</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/example">Shopping Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/example">Contact</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-success" type="submit">Search</button>
            </form>
        </div>
    </div>